{% extends "TemplateView.html" %}
{% block content %}
<div class="account">
	<h2>Hello, {{ user }}!</h2>
	<h3>List of events you visit</h3>
	<ul class="events_list">
	{% for event in events %}
	<li>
		<img src="..{{ event['preview']}}" width="360" height="240" alt="description" />
		<div class="description">
			<strong class="title"><a href="{{event['id']}}">{{ event["title"]}}</a></strong>
			<p>{{ event["short_content"]}}</p>
			<div class="block_bottom">
				<em class="author">{{ event["name"]}}</em>
				<em class="date">{{ event["start_date"]}}</em>
			</div>
		</div>
	</li>
	{% endfor %}
</div>
{% endblock %}