{% extends "TemplateView.html" %}
{% block content %}
	<h2>About us</h2>
	<p><img src="../images/img9.jpg" align="left" width="880" height="400" alt="descr" /></p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia turpis sem, non cursus elit sodales a. Sed commodo felis in massa imperdiet aliquet. Sed porttitor ornare placerat. Quisque gravida dolor non nisl dictum vehicula. Phasellus eu tellus velit. Curabitur a sollicitudin nibh, a eleifend lacus. Quisque tristique eget eros vitae tempus. Sed eu mauris lacinia, consectetur purus vel, gravida erat. Vestibulum cursus felis sit amet nunc ultrices volutpat. Nullam velit tellus, cursus id sollicitudin vitae, dignissim ac nibh. Nulla porta quis dui nec malesuada. Morbi auctor, lacus nec pulvinar egestas, lectus purus dapibus ante, id tristique lorem arcu sit amet libero. Suspendisse potenti. Phasellus tincidunt pretium mi, a ornare orci.</p>
{% endblock %}

